.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures the logo and navigation are on opposite sides */
    padding: 10px 20px;
    background-color: #C890D1; /* A shade of purple */
    color: black;
}

.logo img {
    height: 70px; /* Adjust based on your design */
}

.navigation {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: auto; /* This pushes the navigation to the right */
}

.navigation li {
    padding: 10px;
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.navigation li:hover {
    color: #ffffff; /* Changes text color on hover */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navigation li {
        width: 100%; /* Make navigation items full width */
        text-align: center;
    }
}
