/* Styles for the TestimonialCarousel component */
.testimonial-carousel {
    position: relative;
    width: 100%;
    max-width: 700px; /* Adjust based on the card's width */
    margin: 0 auto;
    overflow: hidden; /* Hide overflow to show only one card */
    padding: 0;
}

.card-list {
    display: flex;
    flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    scroll-behavior: smooth; /* Ensure smooth scrolling */
    width: 100%; /* Full width of the container */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: transform 0.3s ease; /* Smooth transition */
}


.card-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.card-list > * {
    min-width: 100%; /* Each card takes up 100% of the container's width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/*.scroll-button {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*    z-index: 1;*/
/*    border-radius: 50%;*/
/*}*/

/*.scroll-button.left {*/
/*    left: 10px;*/
/*}*/

/*.scroll-button.right {*/
/*    right: 10px;*/
/*}*/

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.scroll-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}
